@page "/{Lat:int}/{Lon:int}"
@using EquinoxWeather.Layout
@using EquinoxWeather.Infrastructure.Interfaces
@inject IRepository _repo
@inject ILocalStorageService LocalStorage

<PageTitle>Equinox · @cityName@(string.IsNullOrEmpty(countryName) ? "" : ", ")@countryName</PageTitle>

@if (isDataLoaded){

	<div class="navigation px-4">
		<NavMenu Temperature="@roundedTemperature" WeatherIcon="@weatherIcon" />
	</div>

	<style>

		.content {
			background-image: url('@(photoDirectUrl)');
			@* background-image: url('weather_backgrounds/partly_cloudy_night.webp'); *@
			background-size: cover;
			background-position: center;
			min-height: 100vh;
			color: white;
			padding-top: calc(5% + 70px);
			padding-bottom: 10px;
		}

	</style>
	<div class="weather-main">
		<h1 class="location" id="location">@cityName@(string.IsNullOrEmpty(countryName) ? "" : ", ")@countryName</h1>
		<div class="temperature-container">
			<h1 class="temperature">@(roundedTemperature)</h1>
			<h1 class="degree-symbol">@Weather.current_units.temperature_2m</h1>
		</div>
		<h2>@weatherStatus?.CodeDescription() @(roundedMaxTemp)°<span style="color: #dddddd;">/</span>@(roundedMinTemp)°</h2>

		<h4 style="margin-bottom: 2rem;">Feels like <b>@roundedTemperatureApparent@Weather.current_units.apparent_temperature</b></h4>

		<div class="photo-credits-container blur px-3 py-1 mx-auto">
			<a class="photo-credits" href="@(photoCreditUrl)" target="_blank">
				@if (weatherStatus.FromUnsplash())
				{
					<span>
						<i class="fas fa-arrow-up-right-from-square"></i>
						Photo by
						@(photoAuthorName)
						on Unsplash
					</span>
				}
				else
				{
					<span>Photo by Developer</span>
				}
			</a>
		</div>
		
	</div>

	<div class="weather-detail-grid">
		<WeatherDetailGrid Weather="@Weather" WeatherStatus="@weatherStatus" WeatherIcon="@weatherIcon" Lat="@(Lat * 0.0001)" Lon="@(Lon * 0.0001)"/>
	</div>

	<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 pe-4 my-3">
		<div class="col-md-6 d-flex align-items-center">
			<a href="/" class="mb-3 me-2 mb-md-0 ps-3 text-body-secondary text-decoration-none lh-1">
				<svg width="40px" height="40px">
					<image xlink:href="logo.svg" width="40px" height="40px" />
				</svg>
			</a>
			<span class="mb-3 mb-md-0 me-4 fs-5">Equinox</span>
			<span class="mb-3 mb-md-0">© 2024 MultiverShaun</span>
		</div>

		<ul class="nav col-md-6 justify-content-end list-unstyled d-flex">
			<li class="ms-3">
				<a class="brand-link" href="https://github.com/MultiverShaun/EquinoxWeather">
					<i class="fa-brands fa-github"></i>
				</a>
			</li>
			<li class="ms-3">
				<a class="brand-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
					<i class="fa-brands fa-youtube"></i>
				</a>
			</li>
			<li class="ms-3 footer-link-container px-3 py-1">
				<a class="footer-link" href="about">
					About
				</a>
			</li>
			<li class="ms-2 footer-link-container px-3 py-1">
				<a class="footer-link" href="#location">
					Refresh
				</a>
			</li>
		</ul>
	</footer>

}
else
{
	<svg width="192px" height="192px" class="logo">
		<image xlink:href="logo.svg" width="192" height="192" />
	</svg>

	<div style="text-align: center; max-width: 75%; margin: auto;">
		<h1 class="equinox-title">Equinox Weather</h1>
		<h3>by MultiverShaun</h3>
	</div>

	<div class="d-flex justify-content-center" style="padding-top: 5%">
		<div class="spinner-border" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>

}

@code {

	[Parameter]
	public int Lat { get; set; }

	[Parameter]
	public int Lon { get; set; }

	private bool unitTempIsF = false;
	private bool unitDistanceIsMph = false;

	private string? cityName = "";
	private string? countryName = "";

	private IWeatherCode ? weatherStatus;

	private bool isDataLoaded = false;

	public OpenMeteoResponse Weather { get; set; } = new();
	private string descriptionEasterEgg = "";
	private int roundedTemperature = 0;
	private int roundedTemperatureApparent = 0;
	private int roundedMaxTemp = 0;
	private int roundedMinTemp = 0;
	private string photoCreditUrl = "";
	private string photoDirectUrl = "";
	private string photoAuthorName = "";
	private string weatherIcon = "";

	protected override async Task OnParametersSetAsync()
	{
		isDataLoaded = false;
		await FetchLocalStorage();
		await LoadWeatherData();
	}

	private async Task LoadWeatherData()
	{
		Weather = await _repo.GetWeather(Lat * 0.0001, Lon * 0.0001, unitTempIsF, unitDistanceIsMph);
		roundedTemperature = Convert.ToInt32(Weather.current.temperature_2m);
		roundedTemperatureApparent = Convert.ToInt32(Weather.current.apparent_temperature);
		roundedMaxTemp = Convert.ToInt32(Weather.daily.temperature_2m_max.FirstOrDefault());
		roundedMinTemp = Convert.ToInt32(Weather.daily.temperature_2m_min.FirstOrDefault());

		var weatherCode = Weather.current.weather_code;
		weatherStatus = await _repo.GetWeatherCodeInfo(weatherCode);

		if (Weather.current.is_day == 1)
		{
			photoCreditUrl = weatherStatus.DayPhotoCreditUrl();
			photoDirectUrl = weatherStatus.DayPhotoDirectUrl();
			photoAuthorName = weatherStatus.DayPhotoAuthorName();
		}
		else
		{
			photoCreditUrl = weatherStatus.NightPhotoCreditUrl();
			photoDirectUrl = weatherStatus.NightPhotoDirectUrl();
			photoAuthorName = weatherStatus.NightPhotoAuthorName();
		}

		if (weatherCode == 63)
		{
			descriptionEasterEgg = "Hindi ka ba nilalamig?";
		}

		if (Weather.current.is_day == 1)
		{
			weatherIcon = weatherStatus.WeatherIconDay();
		}
		else if (Weather.current.is_day == 0)
		{
			weatherIcon = weatherStatus.WeatherIconNight();
		}

		isDataLoaded = true;
	}

	private async Task FetchLocalStorage()
	{
		string? UnitTemp = await LocalStorage.GetItemAsStringAsync("unit_temp");
		string? UnitDistance = await LocalStorage.GetItemAsStringAsync("unit_distance");
		cityName = await LocalStorage.GetItemAsStringAsync("city_name");
		countryName = await LocalStorage.GetItemAsStringAsync("country_name");

		if (UnitTemp == "f")
		{
			unitTempIsF = true;
		} 
		if (UnitDistance == "mi")
		{
			unitDistanceIsMph = true;
		}
	}

	protected async override Task OnInitializedAsync()
	{
		await FetchLocalStorage();
		await LoadWeatherData();
	}

}
