@inject IRepository _repo
@inject ILocalStorageService LocalStorage

@* <h2 style="text-align: center;">Information</h2> *@
<div class="advanced-info-grid">
    <div class="advanced-info-tile">
        <h3 class="tile-title"><i class="fas fa-clock"></i> Time</h3>
        <h2>@(LocationTime)</h2>
    </div>

    <div class="advanced-info-tile">
        <h3 class="tile-title"><i class="fas fa-droplet"></i> Humidity</h3>
        <h2><i class="fas @(humidityIcon)"></i> @(humidity)%</h2>
        <div class="progress" role="progressbar" aria-label="humidity" aria-valuenow="@(humidity)" aria-valuemin="0" aria-valuemax="100" style="border-radius: 2rem; height: 0.5rem; background-color: rgb(255, 255, 255, 0.2);">

            <div class="progress-bar" style="width: @(humidity)%; background-color: white;"></div>

        </div>
    </div>

    <div class="advanced-info-tile">
        <h3 class="tile-title"><i class="fas fa-umbrella"></i> Chance</h3>
        <h2>@(PrecipitationChance)%</h2>
    </div>


    <div class="advanced-info-tile">
        <h3 class="tile-title"><i class="fas fa-eye"></i> Visibility</h3>
        @if (unitDistance == "mi")
        {
            <h2>@(Math.Round(Visibility / 1.609))mi</h2>
        }
        else
        {
            <h2>@(Visibility)km</h2>
        }
    </div>

    <div class="advanced-info-tile">
        <h3 class="tile-title"><i class="fas fa-cloud-sun"></i> Clouds</h3>
        <h2>@(Weather?.current.cloud_cover)%</h2>
    </div>

    <div class="advanced-info-tile">
        <h3 class="tile-title"><i class="fas fa-leaf"></i> Dew Point</h3>
        <h2>@(DewPoint)@(Weather?.current_units.temperature_2m)</h2>
    </div>

    <div class="advanced-info-tile">
        <h3 class="tile-title"><i class="fas fa-sun"></i> UV Index</h3>

        <h2>@(UvIndex)</h2>
        <h5>@UvIndexDescription</h5>
        
    </div>

    <div class="advanced-info-tile">
        <h3 class="tile-title"><i class="fas fa-gauge"></i> Pressure</h3>
        <h2><i class="fas @(airPressureIcon)"></i> @(airPressure) <span style="font-size: 66%">@(airPressureUnit)</span></h2>
    </div>

    <div class="advanced-info-tile">
        <h3 class="tile-title"><i class="fas fa-wind"></i> Wind</h3>
        <h2>@(Weather?.current.wind_speed_10m) @(Weather.current_units.wind_speed_10m)</h2>
        <h5>@(parsedDirection)</h5>
    </div>

    <div class="advanced-info-tile">
        <h3 class="tile-title"><i class="fas fa-sun"></i> Sun</h3>
        <h4><i class="fas fa-arrow-up"></i> @(convertedSunrise)</h4>
        <h4><i class="fas fa-arrow-down"></i> @(convertedSunset)</h4>
    </div>
</div>

@code {
    [Parameter]
    public string ?LocationTime { get; set; }
    [Parameter]
    public string? TimeZone { get; set; }

    [Parameter]
    public OpenMeteoResponse? Weather { get; set; }

    private int humidity = 0;
    public string humidityIcon = "";

    [Parameter]
    public int PrecipitationChance { get; set; }
    [Parameter]
    public double UvIndex { get; set; }
    public string ?UvIndexDescription { get; set; }

    [Parameter]
    public int DewPoint { get; set; }

    [Parameter]
    public double Visibility { get; set; }
    private string? unitDistance = "";

    private double airPressure = 0;
    private string airPressureUnit = "";
    public string ?airPressureIcon { get; set; }

    public string parsedDirection = "";

    public string convertedSunrise = "";
    public string convertedSunset = "";

    protected async override Task OnInitializedAsync()
    {
        // humidity
        humidity = Weather.current.relative_humidity_2m;
        if (humidity < 30)
        {
            humidityIcon = "fa-circle-down";
        }
        else if (humidity >= 30 && humidity <= 50)
        {
            humidityIcon = "fa-thumbs-up";
        }
        else if (humidity > 50 && humidity < 60)
        {
            humidityIcon = "fa-thumbs-up";
        }
        else if (humidity >= 60 && humidity <= 80)
        {
            humidityIcon = "fa-thumbs-down";
        }
        else if (humidity > 80)
        {
            humidityIcon = "fa-volcano";
        }

        // Visibility
        unitDistance = await LocalStorage.GetItemAsStringAsync("unit_distance");

        // Air Pressure
        airPressure = Weather.current.pressure_msl;
        airPressureUnit = Weather.current_units.pressure_msl;

        if (airPressure >= 1020)
        {
            airPressureIcon = "fa-circle-up";
        }
        else if (airPressure < 1020 && airPressure >= 1000)
        {
            airPressureIcon = "fa-thumbs-up";
        }
        else if (airPressure < 1000)
        {
            airPressureIcon = "fa-circle-down";
        }

        // UV Index
        if (UvIndex <= 2)
        {
            UvIndexDescription = "Low";
        }
        else if (UvIndex <= 5 && UvIndex >= 3)
        {
            UvIndexDescription = "Moderate";
        }
        else if (UvIndex <= 7 && UvIndex >= 6)
        {
            UvIndexDescription = "High";
        }
        else if (UvIndex <= 10 && UvIndex >= 8)
        {
            UvIndexDescription = "Very High";
        }
        else if (UvIndex > 10)
        {
            UvIndexDescription = "Extreme";
        }
        // Wind
        parsedDirection = _repo.ParseDegree(Weather.current.wind_direction_10m);

        // Sunrise/Sunset
        DateTime rawSunrise = DateTime.Parse($"{Weather.daily.sunrise.FirstOrDefault()}", null, System.Globalization.DateTimeStyles.RoundtripKind);
        DateTime rawSunset = DateTime.Parse($"{Weather.daily.sunset.FirstOrDefault()}", null, System.Globalization.DateTimeStyles.RoundtripKind);

        convertedSunset = rawSunset.ToString("hh:mm tt");
        convertedSunrise = rawSunrise.ToString("hh:mm tt");
    }
}